ci/Selenium/.settings/

ci/Selenium/.classpath
ci/Selenium/.project
ci/Jmeter/old_tests/
ci/old_scripts/run_all_uc.txt
ci/old_scripts/run_all_uc.sh
ci/Locust/__pycache__/
ci/Locust/*.pyc
ci/Locust/EV.py
ci/Locust/results*

ci/Selenium/src/test/java/bfui/test/util/Utils.java
